BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeCpp11BracedList: false
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 2
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
